# Android / Gradle
*.iml
.gradle/
build/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties

# IDE files
.idea/
.kotlin/

# OS files
.DS_Store

# Android Studio
captures/
exportToHTML/

